.navbar{
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto Mono;
    padding: 10px;
    /* border: 1px solid red; */
}
.navbar:hover{
    background-color: #F0F0F0;
    border-radius: 25px;
}